*{
    margin: 0;
    padding: 0;
}
.Barbecue{
    width: 40px ;
    height: 40px;
    background: #333;
    border-radius: 50%/20% 70%;
    margin:200px auto;
    box-shadow:
                45px 35px 0 0 #333,
                -50px 45px 0 0 #333,
                30px -50px 0 0 #333,
                -55px -85px 0 0 #333,
                -85px -30px 0 0 #333,
                -95px 20px 0 0 #333,
                90px 12px 0 0 #333,
                -20px 102px 0 0 #333,
                28px 90px 0 0 #333,
                5px -100px 0 0 #333,
                80px -60px 0 0 #333,
                78px 80px 0 0 #333,
                0 0 0 120px #c33,0 0 0 140px #333;
                position: relative;
}
.Barbecue::before{
    content: "";
    width: 5px ;
    height: 300px;
    background: #999;
    box-shadow: 
                18px 0 0 0 #999,
                36px 0 0 0 #999,
                54px 0 0 0 #999,
                72px 0 0 0 #999,
                90px 0 0 0 #999,
                108px 0 0 0 #999,
                126px 0 0 0 #999,
                144px 0 0 0 #999,
                162px 0 0 0 #999,
                180px 0 0 0 #999,
                198px 0 0 0 #999,
                216px 0 0 0 #999,
                234px 0 0 0 #999,
                252px 0 0 0 #999,
                270px 0 0 0 #999;

    position: absolute;
    top: -128px;
    left: -118px;
}
.Barbecue::after{
    content: "";
    width: 5px ;
    height: 300px;
    background: #999;
    transform: rotate(90deg);
    box-shadow: 
                18px 0 0 0 #999,
                36px 0 0 0 #999,
                54px 0 0 0 #999,
                72px 0 0 0 #999,
                90px 0 0 0 #999,
                108px 0 0 0 #999,
                126px 0 0 0 #999,
                144px 0 0 0 #999,
                162px 0 0 0 #999,
                180px 0 0 0 #999,
                198px 0 0 0 #999,
                216px 0 0 0 #999,
                234px 0 0 0 #999,
                252px 0 0 0 #999,
                270px 0 0 0 #999;
    

    position: absolute;
    top: -260px;
    left: 16px;
}
.Barbecue .meat{
    width:80px ;
    height: 80px;
    background:#B45227 ;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border:6px solid rgba(255, 255, 255, 0.3) ;
    border-radius: 50%/30% 70% 25% 50%;
    box-shadow:0 0 3px 2px rgba(33, 33, 33, 0.3);
    top: 30px;
    left: 45px;
}
.Barbecue .meat::before{
    content: "";
    width: 4px;
    height: 40px;
    background: rgba(33, 33, 33, 0.2);
    border-radius: 45%;
    top: 14px;
    left: 30px;
    box-shadow: 
               -12px 0 0 0 rgba(33, 33, 33, 0.2),
               12px 0 0 0 rgba(33, 33, 33, 0.2);
    transform: rotate(30deg);
    position: absolute;
}
.Barbecue .meat::after{
    content: "";
    width: 4px;
    height: 40px;
    background: rgba(33, 33, 33, 0.2);
    border-radius: 45%;
    top: 14px;
    left: 30px;
    box-shadow: 
               -12px 0 0 0 rgba(33, 33, 33, 0.2),
               12px 0 0 0 rgba(33, 33, 33, 0.2);
    transform: rotate(-60deg);

    position: absolute;
}
.Barbecue .sausage{
    width:25px ;
    height: 100px;
    background:#A00 ;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 
                -6px 0 8px 0 rgba(92, 0, 0, 0.8) inset,
                2px 0 2px 0 rgba(33, 33, 33, 0.5);
    top: 20px;
    left: -45px;
}
.Barbecue .sausage::before{
    content: "";
    width: 5px;
    height: 30px;
    background:#F2E6CA ;
    border-radius:0 0 2px 2px;
    box-shadow: -1px 2px 2px 0 rgba(33, 33, 33, 0.5) inset;

    position: absolute;
    top: 100%;
    left: calc(50% - 2.5px);
}
.Barbecue .sausage::after{
    content: "";
    width: 55%;
    height: 7px;
    background: #632121;
    border-radius: 0 25px 25px 0;
    box-shadow: 1px -1px 0 1px rgba(33, 0, 0, 0.7),
                0 22px 0 0 #632121, 1px 21px 0 1px rgba(33, 0, 0, 0.7), 
                0 44px 0 0 #632121, 1px 43px 0 1px rgba(33, 0, 0, 0.7);
                
    opacity: 0.3;

    position: absolute;
    top: 20px;
}
.Barbecue .corn{
    width: 35px ;
    height: 100px;
    background: #F2D204;
    position: absolute;
    z-index: 1;
    border-radius: 9px;
    top: 20px;
}
.Barbecue .corn::before{
    content: "";
    width: 5px;
    height: 30px;
    background:#F2E6CA ;
    border-radius:0 0 2px 2px;
    box-shadow: -1px 2px 2px 0 rgba(33, 33, 33, 0.5) inset;

    position: absolute;
    top: 100%;
    left: calc(50% - 2.5px);
}
.Barbecue .corn::after{
    content: "";
    width: 22%;
    height: 6%;
    /* background: red; */
    border-radius: 2px;
    box-shadow:  
    0 0    0 #F2D204, 1px 1px  0 rgba(33, 33, 33, 0.3),8px 0    0 #F2D204, 9px 1px 0 rgba(33, 33, 33, 0.5), 16px 0 0 #F2D204, 17px 1px 0 rgba(33, 33, 33, 0.5), 24px 0 0 #F2D204, 25px 1px 0 rgba(33, 33, 33, 0.2), 
    0 8px  0 #F2D204, 1px 9px  0 rgba(33, 33, 33, 0.3),8px 8px  0 #F2D204, 9px 9px 0 rgba(33, 33, 33, 0.5), 16px 8px 0 #F2D204, 17px 9px 0 rgba(33, 33, 33, 0.5), 24px 8px 0 #F2D204, 25px 9px 0 rgba(33, 33, 33, 0.2), 
    0 16px 0 #F2D204, 1px 17px 0 rgba(33, 33, 33, 0.3),8px 16px 0 #F2D204, 9px 17px 0 rgba(33, 33, 33, 0.5), 16px 16px 0 #F2D204, 17px 17px 0 rgba(33, 33, 33, 0.5), 24px 16px 0 #F2D204, 25px 17px 0 rgba(33, 33, 33, 0.2), 
    0 24px 0 #F2D204, 1px 25px 0 rgba(33, 33, 33, 0.3),8px 24px 0 #F2D204, 9px 25px 0 rgba(33, 33, 33, 0.5), 16px 24px 0 #F2D204, 17px 25px 0 rgba(33, 33, 33, 0.5), 24px 24px 0 #F2D204, 25px 25px 0 rgba(33, 33, 33, 0.2), 
    0 32px 0 #F2D204, 1px 33px 0 rgba(33, 33, 33, 0.3),8px 32px 0 #F2D204, 9px 33px 0 rgba(33, 33, 33, 0.5), 16px 32px 0 #F2D204, 17px 33px 0 rgba(33, 33, 33, 0.5), 24px 32px 0 #F2D204, 25px 33px 0 rgba(33, 33, 33, 0.2), 
    0 40px 0 #F2D204, 1px 41px 0 rgba(33, 33, 33, 0.3),8px 40px 0 #F2D204, 9px 41px 0 rgba(33, 33, 33, 0.5), 16px 40px 0 #F2D204, 17px 41px 0 rgba(33, 33, 33, 0.5), 24px 40px 0 #F2D204, 25px 41px 0 rgba(33, 33, 33, 0.2), 
    0 48px 0 #F2D204, 1px 49px 0 rgba(33, 33, 33, 0.3),8px 48px 0 #F2D204, 9px 49px 0 rgba(33, 33, 33, 0.5), 16px 48px 0 #F2D204, 17px 49px 0 rgba(33, 33, 33, 0.5), 24px 48px 0 #F2D204, 25px 49px 0 rgba(33, 33, 33, 0.2),
    0 56px 0 #F2D204, 1px 57px 0 rgba(33, 33, 33, 0.3),8px 56px 0 #F2D204, 9px 57px 0 rgba(33, 33, 33, 0.5), 16px 56px 0 #F2D204, 17px 57px 0 rgba(33, 33, 33, 0.5), 24px 56px 0 #F2D204, 25px 57px 0 rgba(33, 33, 33, 0.2), 
    0 64px 0 #F2D204, 1px 65px 0 rgba(33, 33, 33, 0.3),8px 64px 0 #F2D204, 9px 65px 0 rgba(33, 33, 33, 0.5), 16px 64px 0 #F2D204, 17px 65px 0 rgba(33, 33, 33, 0.5), 24px 64px 0 #F2D204, 25px 65px 0 rgba(33, 33, 33, 0.2), 
    0 72px 0 #F2D204, 1px 73px 0 rgba(33, 33, 33, 0.3),8px 72px 0 #F2D204, 9px 73px 0 rgba(33, 33, 33, 0.5), 16px 72px 0 #F2D204, 17px 73px 0 rgba(33, 33, 33, 0.5), 24px 72px 0 #F2D204, 25px 73px 0 rgba(33, 33, 33, 0.2), 
    0 80px 0 #F2D204, 1px 81px 0 rgba(33, 33, 33, 0.3),8px 80px 0 #F2D204, 9px 81px 0 rgba(33, 33, 33, 0.5), 16px 80px 0 #F2D204, 17px 81px 0 rgba(33, 33, 33, 0.5), 24px 80px 0 #F2D204, 25px 81px 0 rgba(33, 33, 33, 0.2), 
    0 88px 0 #F2D204, 1px 89px 0 rgba(33, 33, 33, 0.3),8px 88px 0 #F2D204, 9px 89px 0 rgba(33, 33, 33, 0.5), 16px 88px 0 #F2D204, 17px 89px 0 rgba(33, 33, 33, 0.5), 24px 88px 0 #F2D204, 25px 89px 0 rgba(33, 33, 33, 0.2);
    opacity: 0.4;


    position: absolute;
    top: 2px;
    left: 0;
}
.Barbecue .tallbamboo{
    width: 25px;
    height: 170px;
    background-image: linear-gradient(to top,#ffffff 0%,#96c56f 30%);
    position: absolute;
    z-index: 1;
    border-radius:70%/60% 10% 0 0 ;
    top: -10px;
    left: -90px;
}
.Barbecue .tallbamboo::before{
    content: "";
    width: 16px;
    height: 70%;
    background-image: linear-gradient(to top,rgba(0,0,0,0) 0%,#428c42 50%);
    border-radius: 35% 15% 0 0/70% 30% 0 0;

    position: absolute;
    top: -5px;
    right: 0;
}